{% extends 'base.html.twig' %}
{% block title %}
    {{ parent() }} Accueil
{% endblock %}

{% block section %}
    <section class="container my-4">
        <h1 class="text-center">Welcome to FactuZen App</h1>
    </section>
{% endblock %}
